<div class="modal fade" id="modalConfirmar" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold" id="modalConfirmarTitulo">Confirmar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="modalConfirmarMensagem"></div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="modalConfirmarBtn">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<script>
function confirmarAcao(titulo, mensagem, callback) {
  document.getElementById('modalConfirmarTitulo').textContent = titulo;
  document.getElementById('modalConfirmarMensagem').textContent = mensagem;
  const btn = document.getElementById('modalConfirmarBtn');
  const novaBtn = btn.cloneNode(true);
  btn.parentNode.replaceChild(novaBtn, btn);
  novaBtn.addEventListener('click', function handler() {
    bootstrap.Modal.getInstance(document.getElementById('modalConfirmar')).hide();
    callback();
  });
  bootstrap.Modal.getOrCreateInstance(document.getElementById('modalConfirmar')).show();
}
</script>
