{% extends 'estoque/base.html' %}
{% block title %}S.G.E - Novo Produto{% endblock %}

{% block content %}
<div class="page-container">
{% include 'estoque/components/page_header.html' with page_title='Novo produto' page_description='Cadastre um item e configure sua unidade, estoque mínimo e valores.' page_icon='bi-plus-circle' %}

{% url 'cadastrar_produto' as form_action %}
{% include 'estoque/produtos/_form.html' with form_action=form_action submit_label='Cadastrar Produto' loading_label='Salvando...' quantidade_label='Quantidade Inicial' quantidade_readonly=False quantidade_help='' auto_unidade=True %}
</div>
{% endblock %}

{% block scripts %}
{% include 'estoque/produtos/_form_script.html' %}
{% endblock %}
