{% extends 'estoque/base.html' %}
{% block title %}S.G.E - Editar Produto{% endblock %}

{% block content %}
<div class="page-container">
{% include 'estoque/components/page_header.html' with page_title='Editar produto' page_description=produto.descricao page_icon='bi-pencil-square' %}

{% url 'editar_produto' produto.id as form_action %}
{% url 'detalhe_produto' produto.id as cancel_url %}
{% include 'estoque/produtos/_form.html' with form_action=form_action submit_label='Salvar Alterações' loading_label='Salvando...' quantidade_label='Estoque atual' quantidade_readonly=True quantidade_help='Use Movimentar para entrada ou saída.' auto_unidade=False cancel_url=cancel_url %}
</div>
{% endblock %}

{% block scripts %}
{% include 'estoque/produtos/_form_script.html' %}
{% endblock %}
